.add-list-btn {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.add-list-btn:hover {
    background-color: #0d6efd;
}

.add-list-form {
    background-color: rgb(99 125 147);
    padding: 15px;
    border-radius: 10px;
    color: white;
    width: 250px;
}

.add-list-form input {
    border: 1px solid #444;
}

.add-list-form .btn-close {
    background: silver;
    color: black;
    font-weight: 500;
    border: none;
    font-size: 1.4rem;
    line-height: 1;
}

.modal-backdrop.show {
    opacity: 0.1 !important;
}

.modal-body textarea {
    resize: none !important;
}

.bi-trash {
    cursor: pointer;
    color: rgb(220, 53, 69);
    display: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item {
    cursor: pointer;
}

.bi-three-dots-vertical::before {
    cursor: pointer !important;
}

.bi-three-dots-vertical {
    margin-right: 0 !important;
}