body {
    margin: 0;
    padding: 0;
    background-color: #0d1b2a;
}

.my-squad {
    font-weight: 600;
    border-radius: 5px;
    background-color: silver;
    min-height: 80px;
    width: 170px;
    padding: 5px;
}

.my-squad:hover {
    background-color: rgb(146, 146, 146);
}

.my-squad span {
    word-break: break-all;
}

.bi-three-dots-vertical {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item {
    cursor: pointer;
}